@using MvcStok.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
            {
                <p>
                    <b>Aranacak Müşteri Adı:</b>@Html.TextBox("p")
                    <input type="submit" value="Ara" />
                </p>
            }



<a href="/MUSTERI/YeniMusteri" class="btn btn-primary">Yeni Müşteri Ekle</a>
<br>
<br>
<table class="table table-bordered">
    <tr>
        <th> MÜŞTERİ ID </th>
        <th> MÜŞTERİ ADI </th>
        <th> MÜŞTERİ SOYADI </th>
        <th> SİL </th>
        <th> GÜNCELLE </th>
    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
        <tr>
            <th>@ktgr.MUSTERIID</th>
            <td>@ktgr.MUSTERIAD</td>
            <td>@ktgr.MUSTERISOYAD</td>
            <td><a href="/MUSTERI/SIL/@ktgr.MUSTERIID" class="btn btn-danger">SİL</a></td>
            <td><a href="/MUSTERI/MusteriGetir/@ktgr.MUSTERIID" class="btn btn-success">GÜNCELLE</a></td>
            <td>@Html.ActionLink("SİL BTN", "SIL", new { id = ktgr.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek İstiyor Musunuz?')" })</td>
        </tr>
            }
    </tbody>

</table>

